<% provide(:title, "JIGL Usage") %>

<div class="jigl-usage">
  <%= render 'static_pages/jigl_navbar' %>

  <section class="jigl-content">
    <div id="about" class="jigl-content-container" style="display: block;">
      <h1>jQuery Input Grid Library (JIGL)</h1>
      <div class="jigl-content-description">
        JIGL is a component library of form-compliant modernly styled web inputs. It comes with support
        for multiple types of inputs that can be used in a grid form similar to Bootstrap along with an
        API for extracting, augmenting, and replacing data.
      </div>
    </div>
    <%= render 'static_pages/jigl_types' %>
    <%= render 'static_pages/jigl_sizes' %>
    <%= render 'static_pages/jigl_options' %>
    <%= render 'static_pages/jigl_api' %>
  </section>
</div>